<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Homeless Pets</title>
  <link rel="stylesheet" href="../styles/style_aboutUs.css" />
</head>
<body>
  <header class="nombre-empresa">Homeless Pets</header>
  <div class="tarjeta">
    <div class="tarjeta-header">about us</div>
    <p class="presentacion">Hola, somos Homeless Pets
      Nacimos con un solo propósito: ayudar a esos peluditos que, por distintas razones, se quedaron sin un hogar. Sabemos que la vida a veces da giros inesperados, y hay personas que ya no pueden cuidar a sus mascotas como quisieran. También sabemos que muchos animales terminan en la calle sin entender por qué.
      Por eso existimos. Para tender la mano y ofrecer una nueva oportunidad. En Homeless Pets, rescatamos, cuidamos y buscamos familias que estén listas para dar amor y recibirlo multiplicado por mil. Porque sí, adoptar salva vidas… y también llena el corazón.
      También ayudamos a quienes, con dolor, tienen que dejar ir a su mascota. Sabemos que no es fácil, y queremos que tengan la tranquilidad de que su amigo encontrará un hogar donde será querido y cuidado.
      Cada adopción es una historia nueva, y nos encanta ser parte de esos comienzos felices. Si tú también quieres ser parte de esta misión, ¡bienvenido/a! Puedes adoptar, donar, ser voluntario, o simplemente compartir lo que hacemos.
      Gracias por creer que todos los animales merecen una segunda oportunidad. 
      Con cariño, El equipo de Homeless Pets</p>
  </div>
  <button class="boton-donar">
    <a href="">
      DONA
    </a>
  </button>
  <footer class="footer">
    <div class="cesped"></div>
    <div class="contenido">
        <img src="../imgs/maps.webp" class="mapa">
        <ul class="footer-menu">
            <li>Perros</li>
            <li>Gatos</li>
            <li>Aves</li>
            <li>Reptiles</li>
            <li>Roedores</li>
            <li>Peces</li>
            <li>Equinos</li>
            <li>Exóticos</li>
        </ul>
    </div>
</footer>
</body>
</html>
