<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleanimales.css">
</head>

<body>
    <header id="cabecera">
        <h1>Perros</h1>
    </header>
    <main>
        <section id="contenedor">
            <div>
                <img class="fotoanimal" src="img/perro.jpg" alt="Foto perro">
                <h2 class="nombre">Augusto</h2>
                <p class="descripcion">Fiel compañero, siempre listo para jugar.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro2.jpg" alt="Foto perro">
                <h2 class="nombre">Alberto</h2>
                <p class="descripcion">Corre tras la pelota como si fuera oro.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro3.webp" alt="Foto perro">
                <h2 class="nombre">Marcos</h2>
                <p class="descripcion">Le encanta que le rasquen la barriga.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro4.jpg" alt="Foto perro">
                <h2 class="nombre">Lidia</h2>
                <p class="descripcion">Siempre mueve la cola cuando te ve llegar.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro5.jpg" alt="Foto perro">
                <h2 class="nombre">Lorenzo</h2>
                <p class="descripcion">Un amor de cuatro patas con mucha energía.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro6.jpg" alt="Foto perro">
                <h2 class="nombre">Sebastian</h2>
                <p class="descripcion">Te sigue a todas partes como tu sombra peluda.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/perro7.png" alt="Foto perro">
                <h2 class="nombre">Richard</h2>
                <p class="descripcion">Salta de alegría cada vez que te ve.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            
        </section>

        <aside id="menu">
            <ul>
                <li><a href="ejemploGato.html">Gatos</a></li>
                <li><a href="ejemploPez.html">Peces</a></li>
                <li><a href="ejemploRoedor.html">Roedores</a></li>
                <li><a href="ejemploAve.html">Aves</a></li>
                <li><a href="ejemploReptil.html">Reptiles</a></li>
                <li><a href="ejemploAnimal.html">Anfibios</a></li>
                <li><a href="ejemploAnimal.html">Exótico</a></li>
            </ul>
        </aside>
    </main>
</body>

</html>