<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleanimales.css">
</head>

<body>
    <header id="cabecera">
        <h1>Gatos</h1>
    </header>
    <main>
        <section id="contenedor">
            <div>
                <img class="fotoanimal" src="img/gato.jpg" alt="Foto gato">
                <h2 class="nombre">Milo</h2>
                <p class="descripcion">Adora dormir en lugares soleados.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato2.jpg" alt="Foto gato">
                <h2 class="nombre">Nina</h2>
                <p class="descripcion">Juguetona incansable con una mirada tierna.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato3.webp" alt="Foto gato">
                <h2 class="nombre">Simón</h2>
                <p class="descripcion">Se esconde en las cajas más pequeñas.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato4.webp" alt="Foto gato">
                <h2 class="nombre">Kiara</h2>
                <p class="descripcion">Ama que le acaricien detrás de las orejas.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato5.webp" alt="Foto gato">
                <h2 class="nombre">Romeo</h2>
                <p class="descripcion">Un amor de cuatro patas con mucha energía.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato6.jpg" alt="Foto gato">
                <h2 class="nombre">Tina</h2>
                <p class="descripcion">Siempre quiere estar en tu regazo.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
            <div>
                <img class="fotoanimal" src="img/gato7.webp" alt="Foto gato">
                <h2 class="nombre">Lorenzo</h2>
                <p class="descripcion">Le encanta observar todo desde las alturas.</p>
                <button class="adoptar">adoptar</button>
                <button class="favorito"><img src="img/corazonvacio.png" alt="favorito"></button>
            </div>
        </section>

        <aside id="menu">
            <ul>
                <li><a href="ejemploPerro.html">Perros</a></li>
                <li><a href="ejemploAnimal.html">Peces</a></li>
                <li><a href="ejemploAnimal.html">Roedores</a></li>
                <li><a href="ejemploAnimal.html">Aves</a></li>
                <li><a href="ejemploAnimal.html">Reptiles</a></li>
                <li><a href="ejemploAnimal.html">Equinos</a></li>
                <li><a href="ejemploAnimal.html">Exótico</a></li>
                <li><a href="ejemploAnimal.html">Bovino</a></li>
                <li><a href="ejemploAnimal.html">Insectos</a></li>
            </ul>
        </aside>
    </main>
</body>

</html>
