<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Prueba de subida de imagen a Firebase Storage</title>
</head>
<body>
  <h1>Nueva prueba de subida de imagen</h1>
  <input type="file" id="imagen" />
  <button id="subir">Subir imagen</button>
  <p id="estado"></p>
    <button onclick="window.location.href='allImages.html'"></button>
<script src="/scripts/pruebaImagen.js"></script>
</body>
</html>
