
.color1 { background-color: #bad326; } /* Lima Vibrante */
.color2 { background-color: #d6e37b; } /* Amarillo Verdoso Pastel */
.color3 { background-color: #566813; } /* Verde Oliva Oscuro */
.color4 { background-color: #90ac5c; } /* Verde Pistacho */
.color5 { background-color: #b8a97d; } /* Arena Suave */




*{
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background-color:#b8a97d;
}

header {
    position: fixed;        /* fija en la parte superior del viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;           /* ajusta al alto que necesites */
    background:linear-gradient(#90ac5c8a,rgba(255, 255, 255, 0));
    z-index: 20;             
    display: flex;           
    align-items: center;
    justify-content:space-evenly;
    padding: 0 1rem;
    backdrop-filter: blur(10px); /* esto hace el efecto blur */
    -webkit-backdrop-filter: blur(10px); /* soporte para Safari */

    img{
        width: 3%;
    }
    .links{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1vw;
        font-weight: 900;        
        transition: all .2s ease-in-out;

    }
    .links:hover{
        font-size: 1.1vw;
        transition: all .2s ease-in-out;
        color: #566813; ;
    }

  }
  
  /* Empuja el contenido del main hacia arriba para que asome por debajo del header */
main {
    margin: 0;
    height: 500vh;
  
  }
  
#Inicio {
    margin-top: 0;
    height: 85vh;
    position: relative;
    overflow: hidden;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color:  #90ac5c;
    font-weight: 900;
   
    #slogan{
        margin-left: 8vw;
        width: 30vw;
        text-align: center;
        font-size: 3vw;
    }
    
  }

  .fraseRepetida-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #90ac5c;
  }

  .fraseRepetida-content {
    display: inline-block;
    white-space: nowrap;
    animation: fraseRepetida 20s linear infinite;
  }

  .fraseRepetida-content span {
    margin-right: 1rem; /* espacio entre frases */
    font-size: 1.5rem;
    color: #ffffff;;
  }

  @keyframes fraseRepetida {
        0% {
        transform: translateX(0);
        }
        100% {
        transform: translateX(-50%);
        }
    }

#RecienLlegados{
    top: 33vh;
    width: 5vw;
    right: 2vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #566813; 
    border-radius: 50px;
    aspect-ratio: 1/3 ;

}


#cajaRecienLlegados{
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.tarjetas{
    position:relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 100%;
    width: 90%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    display: flex;

    .panel{
        font-weight: 900;
        font-size: 2vw;
        color: white;
        opacity: 0;
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0px;
        z-index: 2;
        background-color: #d6e37b;
        border-radius: 20px;
        transition: width .5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

    }

 

}
.fotoPerfil{
    z-index: 0;
    align-content: center;
    height: 100%;
    transition: opacity .5s ease-in-out;

    

}
.tarjetas:hover{
    cursor: pointer;
    .panel{
        width: 100%;
        transition: width .5s ease-in-out;
        opacity: 1;
    }
    .fotoPerfil{
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
 
}

/* E S P E C I E S */
#Especies{
    
    text-align: center;
    margin:5vw 10vw 0 ;
    border-radius: 25px;
}
.tarjetaEspecie{
    
    border: 5px solid  #566813;;
    position: relative;
    width: 12vw;
    height: 12vw;
    border-radius: 25px;
    display: inline-block;
    margin:2vw;
    background-color:  #d6e37b;
    overflow: hidden;
   
    .flow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:0;
        width: 100%;
        position: absolute;
        bottom:0;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        transition: height .8s ease-in-out;

        h2{
            opacity: 0;
            transition:opacity .5s ease-in-out;
        }
        .slogan{
            opacity: 0;
            transition:opacity .5s ease-in-out;
        }
    }
}
.tarjetaEspecie:hover{
    cursor: pointer;
    border: 5px solid #bad326;;

   .flow{
    transition: height .5s ease-in-out;
    height: 100%;
   }
   h2{
    opacity: 1;
    transition:opacity 1s ease-in-out;
}
.slogan{
    opacity: 1;
    transition:opacity 1s ease-in-out;
}
}


footer{
    background-image: linear-gradient( rgba(255, 255, 255, 0)10% , rgb(0, 125, 0));

}
#elementosFooter{
    background-color: rgb(2, 137, 2);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all .2s ease-in-out;


    }
    a:hover{
        color: rgb(0, 162, 255);
        font-size: 22px;
        transition: all .2s ease-in-out;
    }
}

#map{
    border: 3px solid rgb(255, 255, 255);
    width: 20vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        transition: all .5s ease-in-out;
        height: 100%;
    }
    
}
#map:hover{
    cursor: pointer;
    img{
        height: 110%;
        transition: all .5s ease-in-out;
    }
}
#columnaRedesSociales,#columnaNav{
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 1vw;

}
#grass{
    width: 100%;
    bottom: 0;
}
  
  