:root{
  --color-lima:#bad326;
  --color-pastel:#d6e37b;
  --color-oliva:#566813;
  --color-pistacho:#90ac5c;
  --color-arena:#b8a97d;
}



body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .nombre-empresa {
    font-weight: bold;
    color: #00a651;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
  }
  
  .tarjeta {
    width: 110%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .tarjeta-header {
    background-color: #00a651;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .presentacion {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    text-align: left;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
  }
  
  
  .boton-donar {
    background-color: #51d691;
    max-width: 180px;
    max-height: 90px;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin: 80px;
    border: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
/*-F O O T E R-----------------------------------------------*/
footer{
  background-color: #566813;
}
#elementosFooter{

  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a{
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: all .2s ease-in-out;


  }
  a:hover{
      color:#bad326;
      font-size: 22px;
      transition: all .1s ease-in-out;
    
  }
}

#map{
  border: 3px solid #bad326;;
  width: 20vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.logoSocial{
  fill: #90ac5c;
  width: 40px;

}

#columnaRedesSociales,#columnaNav{
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 1vw;
  

}
.filaSocial{
  display: flex;
  justify-content:left;
  gap: 2vw;
  align-items: center;
}
footer hr{
  width: 75vw;
  margin: auto;
  background:#90ac5c;
  border: none;
  height: 2px;

}
#FooterFooter{
  color: #90ac5c; 
  text-align: center;
  padding: 2vw 30vw;
}
#enlacesFinales{
  margin-top: 1vw;
  display: flex;
  justify-content: space-evenly;
  a{
      text-decoration: none;
      color:  #90ac5c;
      
  }
  a:hover{
      color:#bad326;
  }
  
}
