:root{
  --color-lima:#bad326;
  --color-pastel:#d6e37b;
  --color-oliva:#566813;
  --color-pistacho:#90ac5c;
  --color-arena:#b8a97d;
}



*{
  margin: 0;
  font-family: sans-serif;
  
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../imgs/logos/fondo.png);
    background-size: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
  }
  
  /*--H E A D E R-------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  background: linear-gradient(#90ac5c8a, rgba(255, 255, 255, 0));
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;

  padding: 0 2rem 0 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: height 0.3s ease; /* Transición suave al cambiar altura */
  overflow:visible; /* Para que los submenús no sobresalgan */
}
.flip-container {
  position: fixed;
  left: 2em;
  width: 3em;
  height: 3em;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}


.links {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  transition: all .2s ease-in-out;
}

.links:hover {
  font-size: 1.1em;
  transition: all .2s ease-in-out;
  color: #566813;
  cursor:pointer;
}

/* Submenú oculto */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(90, 110, 50, 0.9);
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;
  text-align: left;
}

/* Mostrar el submenú solo en hover */
.links:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  font-size: 0.9vw;
}

.submenu a:hover {
  color: #c7db6c;
}

/*LOGIN*/
.login-form input {
  margin: 2px 0;
  padding: 4px 8px;
  font-size: 10px;
}

.login-form button {
  margin-top: 4px;
  padding: 4px 10px;
  background-color: #489961;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.login-form button:hover {
  background-color: #33d682;
}

.login-links {
  font-size: 12px;
  margin-top: 4px;
}

.login-links a {
  color: #0073e6;
  text-decoration: none;
  margin: 0 2px;
}

.login-links a:hover {
  text-decoration: underline;
}

/*----------- M A I N ---------------------------------------------*/
main{
  padding-top: 150PX;
}

.presentation{
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}

.form-container {
  overflow: hidden;
  margin-bottom: 5em;
  background-color: #b8a97d;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  min-width: 45%;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 88%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.required {
  color: red;
}

textarea {
  width: 100%;
  padding: 5px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 14px;
  box-sizing: border-box;
}

.submit-button {
  background-color:  #90ac5c;;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color:   #bad326;
}

/*-F O O T E R-----------------------------------------------*/
footer{
background-color: #566813;
}
#elementosFooter{

height: 60vh;
display: flex;
align-items: center;
justify-content: space-around;
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s ease-in-out;


}
a:hover{
    color:#bad326;
    font-size: 22px;
    transition: all .1s ease-in-out;
  
}
}

#map{
border: 3px solid #bad326;;
width: 20vw;
height: 15vw;
overflow: hidden;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;

}
.logoSocial{
fill: #90ac5c;
width: 40px;

}

#columnaRedesSociales,#columnaNav{
display: flex;
flex-direction: column;
width: 15%;
gap: 1vw;


}
.filaSocial{
display: flex;
justify-content:left;
gap: 2vw;
align-items: center;
}
footer hr{
width: 75vw;
margin: auto;
background:#90ac5c;
border: none;
height: 2px;

}
#FooterFooter{
color: #90ac5c; 
text-align: center;
padding: 2vw 30vw;
}
#enlacesFinales{
margin-top: 1vw;
display: flex;
justify-content: space-evenly;
a{
    text-decoration: none;
    color:  #90ac5c;
    
}
a:hover{
    color:#bad326;
}

}


/*-F O O T E R-----------------------------------------------*/
footer{
background-color: #566813;

}
#color{
background-color: #90ac5c;
height: 1vw;
}
#elementosFooter{

height: 60vh;
display: flex;
align-items: center;
justify-content: space-around;
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s ease-in-out;


}
a:hover{
    color:#bad326;
    font-size: 22px;
    transition: all .1s ease-in-out;
  
}
}

#map{
border: 3px solid #bad326;;
width: 20vw;
height: 15vw;
overflow: hidden;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;

}
.logoSocial{
fill: #90ac5c;
width: 40px;
min-width: 20px;

}

#columnaRedesSociales,#columnaNav{
display: flex;
flex-direction: column;
width: 15%;
gap: 1vw;


}
.filaSocial{
display: flex;
justify-content:left;
gap: 2vw;
align-items: center;
}
footer hr{
width: 75vw;
margin: auto;
background:#90ac5c;
border: none;
height: 2px;

}
#FooterFooter{
color: #90ac5c; 
text-align: center;
padding: 2vw 30vw;
}
#enlacesFinales{
margin-top: 1vw;
display: flex;
justify-content: space-evenly;
a{
    text-decoration: none;
    color:  #90ac5c;
    
}
a:hover{
    color:#bad326;
}

}

